In [1]:
import numpy as np 
import pickle
import itertools
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
train = pd.read_csv('review_data_ids.csv')

In [3]:
train

,source,review,sentiment,prediction,id
0,mturk,Affinia Chicago is one of the worst hotels I h...,0.0,0.0,murk_n0
1,mturk,I recently stayed at the Affina Chicago hotel ...,0.0,0.0,murk_n1
2,mturk,I stayed at the Affina Chicago for my annivers...,0.0,0.0,murk_n2
3,mturk,If you are looking for a high end hotel on the...,0.0,0.0,murk_n3
4,mturk,I just returned from a long weekend in Chicago...,0.0,0.0,murk_n4
...,...,...,...,...,...
7562,trip_advisor,"My wife and I, living in the Chicago suburbs f...",NaN,NaN,ta_s1909
7563,trip_advisor,It was our first time in Chicago and we have n...,NaN,NaN,ta_s1910
7564,trip_advisor,We stayed here over Easter weekend and had a m...,NaN,NaN,ta_s1911
7565,trip_advisor,We went here for my wife's birthday. We origin...,NaN,NaN,ta_s1912
7566,trip_advisor,This hotel was pretty lovely. It's not over th...,NaN,NaN,ta_s1913

In [4]:
train.drop(columns=['source','sentiment','id'],inplace=True)

In [5]:
train=train.dropna()

In [6]:
train

                                                 review  prediction
0     Affinia Chicago is one of the worst hotels I h...         0.0
1     I recently stayed at the Affina Chicago hotel ...         0.0
2     I stayed at the Affina Chicago for my annivers...         0.0
3     If you are looking for a high end hotel on the...         0.0
4     I just returned from a long weekend in Chicago...         0.0
...                                                 ...         ...
5748  Muy amable el personal. Bien ubicado y suficie...         1.0
5749  Great stay all around. Brought a fender guitar...         1.0
5750  Decor is very dark and gloomy bordering on dep...         1.0
5751                  Excellent hotel and restaurant!!!         1.0
5752  The outside of the hotel looks nice and is cen...         1.0

[4953 rows x 2 columns]

In [7]:
df_x=train['review']
df_y=train['prediction']

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df_x,df_y,test_size=0.3, random_state=9)
print(x_train.shape)
print(x_test.shape)

(3467,)
(1486,)

In [9]:
tfidf_vectorizer = TfidfVectorizer(stop_words='english', max_df=0.7)

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer= TfidfVectorizer(min_df=1,stop_words='english')

In [11]:
tfidf_train = tfidf_vectorizer.fit_transform(x_train) 
X_test_counts=tfidf_vectorizer.transform(x_test)

In [12]:
pac = PassiveAggressiveClassifier(max_iter=50)
pac.fit(tfidf_train,y_train)

PassiveAggressiveClassifier(max_iter=50)

In [13]:
with open('tfid.pickle','wb') as f:
    pickle.dump(tfidf_vectorizer,f)

In [14]:
with open('model_fakenews.pickle','wb') as f:
    pickle.dump(pac,f)